
:root {
    --blue-primary: hsl(223, 87%, 63%);
    --pale-blue-secondary: hsl(223, 100%, 88%);
    --light-red-secondary: hsl(354, 100%, 66%);
    --gray-neutral: hsl(0, 0%, 59%);
    --very-dark-blue-neutral: hsl(209, 33%, 12%);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}   


body {
    min-height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

h2, p {
    text-align: center;
}

h2 {
    font-size: 1.35rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.launch_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.launch_text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    
}

.subscribe_text {
    margin-bottom: 2.5rem;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
}

form {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email_input {
    max-width: 20rem;
    margin-bottom: 1rem;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem 1rem 2rem;
    outline: none;
    font-size: 1rem;
}

::placeholder {
    opacity: 0.6;
}

.notify_button {
    display: block;
    width:20rem;
    color: #fff;
    background-color: var(--blue-primary);
    font-size: 0.9rem;
    padding: 1.2rem;
    border-radius: 30px;
    outline: none;
    border:none;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 300ms ease-in-out;

}

.notify_button:hover{
    transform: scale(1.05);
}


.icon {
    color: var(--blue-primary);
    margin: 0.2rem;
    margin-bottom: 1.75rem;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0.5rem;
    cursor: pointer;
}

.fab.fa-facebook-f.icon {
    padding: 0.5rem 0.70rem;
}

.image {
    max-width: 25rem;
    width: 90%;
    margin: 5rem 0;
}

.copyright_text {
    color: var(--gray-neutral);
    font-size: 0.9rem;
}

.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 46em) {
        
    h2 {
        font-size: 2rem;
    }
    .container {
        padding-bottom: 2rem;
        padding-top: 4rem;
    }

    .launch_text {
        font-size: 3rem;    
    }

    .subscribe_text {
        font-size: 1.2rem;

    }

    .button_container {
        flex-direction: row;
        min-width: 40rem;
        width: 100%;
    }

    .email_input {
        max-width: 100%;
        width: 67%;
        margin-bottom: 0;
        padding: 0 0 0 1.5rem;
    }
    
    .notify_button {
        width: 30%;
        color: #fff;
    }
        
    .image {
        margin: 5rem 0;
        max-width: 40rem;
    }
}